<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rcplatform.livechat.mapper.ActiveUserHourMapper" >
  <resultMap id="BaseResultMap" type="com.rcplatform.livechat.model.ActiveUserHour" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="total_active_count" property="totalActiveCount" jdbcType="INTEGER" />
    <result column="boy_active_count" property="boyActiveCount" jdbcType="INTEGER" />
    <result column="girl_active_count" property="girlActiveCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectUserApiRecord" resultMap="BaseResultMap">
   SELECT  * FROM
    (select count(*) as total_active_count from rc_user_api_record where create_time BETWEEN #{beginDate} and #{endDate}) a,
    (select count(*) as boy_active_count from rc_user_api_record where gender = 1 and create_time BETWEEN #{beginDate} and #{endDate}) b,
    (select count(*) as girl_active_count from rc_user_api_record where gender = 2 and create_time BETWEEN #{beginDate} and #{endDate}) c
  </select>


  <select id="selectActiveHour" resultMap="BaseResultMap">
    SELECT * FROM rc_active_user_hour WHERE date(create_time) = #{date}
  </select>
</mapper>