<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>后台登陆</title>
   <!-- <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">-->
   <!-- <link href="assets/css/signin.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"  />
    <style>
        body{height:100%;background:#16a085;overflow:hidden;}
        canvas{z-index:-1;position:absolute;}
    </style>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<form class="form-signin" novalidate>
<dl class="admin_login">
    <dt>
        <strong>VIDEO CHART</strong>
        <em>管理系统</em>
    </dt>
    <dd class="user_icon">
        <input type="text" placeholder="账号" class="login_txtbx" ng-model="user.email"/>
    </dd>
    <dd class="pwd_icon">
        <input type="password" placeholder="密码" class="login_txtbx" ng-model="user.password"/>
    </dd>
    <dd>
        <input type="button" value="登陆" class="submit_btn" ng-click="reset()"/>
    </dd>
</dl>
    </form>
</body>
</html>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/jquery.particleground.js"></script>
<script src="assets/js/login.js"></script>