<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">app版本管理</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">app版本管理</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="padding-md">
        <div class="row">
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    app 版本列表
                    <!--<span class="label label-info pull-right">790 Items</span>-->
                </div>
                <table class="table table-striped" id="responsiveTable">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>appId</th>
                        <th>android最新版本号</th>
                        <th>android最新版本名称</th>
                        <th>android最低兼容版本号</th>
                        <th>ios最新版本号</th>
                        <th>ios最新版本名称</th>
                        <th>ios最低兼容版本号</th>
                        <td>ios审核开关</td>
                        <td>更新时间</td>
                        <td>创建时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in list">
                        <td><a class="btn btn-xs btn-default" ng-click="modify(x)"><i class="fa fa-edit"></i> 修改</a></td>
                        <td>{{x.appId}}</td>
                        <td>{{x.androidMaxVersion}}</td>
                        <td>{{x.androidMaxVersionName}}</td>
                        <td>{{x.androidMinVersion}}</td>
                        <td>{{x.iosMaxVersion}}</td>
                        <td>{{x.iosMaxVersionName}}</td>
                        <td>{{x.iosMinVersion}}</td>
                        <td>{{x.iosStatus==0?"审核中":"已审核"}}</td>
                        <td>{{x.createTime}}</td>
                        <td>{{x.updateTime}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" ng-show="isShow">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <input class="form-control input-sm" type="text" ng-model="version.id" style="display: none"/>
                            <div class="form-group">
                                <label>appId：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.appId" readonly="true"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>android最新版本号：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.androidMaxVersion"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>android最新版本名称：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.androidMaxVersionName"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>android最低兼容版本号</label>
                                <input class="form-control input-sm" type="text" ng-model="version.androidMinVersion"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>ios最新版本号：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.iosMaxVersion"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>ios最新版本名称：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.iosMaxVersionName"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>ios最低兼容版本号：</label>
                                <input class="form-control input-sm" type="text" ng-model="version.iosMinVersion"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>审核开关：</label>
                                <select class="form-control input-sm" id="type-select" ng-model="version.iosStatus" style="display:inline-block; width:100px;">
                                    <option value="0">审核中</option>
                                    <option value="1">已审核</option>
                                </select>
                            </div><!-- /form-group -->
                            <button type="submit" class="btn btn-success btn-sm" ng-click="reset()">提交</button>
                        </form>
                    </div>
                </div><!-- /panel -->
            </div>
        </div>
    </div>
</div>