<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">用户活跃数据</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">用户活跃数据</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="padding-md">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                实时数据
                <ul class="tool-bar">
                    <li ng-click="flush()"><a href="javascript:;" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                        <i class="fa fa-refresh"></i></a></li>
                </ul>
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>用户活跃总数</th>
                    <th>android用户活跃总数</th>
                    <th>ios用户活跃总数</th>
                    <th>每日男性活跃总数</th>
                    <th>每日女性活跃总数</th>
                    <th>每日用户留存</th>
                    <th>每日android用户留存</th>
                    <th>每日ios用户留存</th>
                    <th>每日男性用户留存</th>
                    <th>每日女性用户留存</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nowData.dauTotal}}</td>
                    <td>{{nowData.dauAndroid}}</td>
                    <td>{{nowData.dauIos}}</td>
                    <td>{{nowData.dauBoy}}</td>
                    <td>{{nowData.dauGirl}}</td>
                    <td>{{nowData.keepTotal}}</td>
                    <td>{{nowData.keepAndroid}}</td>
                    <td>{{nowData.keepIos}}</td>
                    <td>{{nowData.keepBoy}}</td>
                    <td>{{nowData.keepGirl}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <!--<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i>趋势图</span>-->

            </div>
            <div class="panel-body" id="trafficWidget">
                <div id="dauChar" style="height:400px;"></div>
            </div>
        </div><!-- /panel -->

        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                详细
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="responsiveTable">
                <thead>
                <tr>
                    <th>用户活跃总数</th>
                    <th>android用户活跃总数</th>
                    <th>ios用户活跃总数</th>
                    <th>每日男性活跃总数</th>
                    <th>每日女性活跃总数</th>
                    <th>每日用户留存</th>
                    <th>每日android用户留存</th>
                    <th>每日ios用户留存</th>
                    <th>每日男性用户留存</th>
                    <th>每日女性用户留存</th>
                    <td>时间</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.dauTotal}}</td>
                    <td>{{x.dauAndroid}}</td>
                    <td>{{x.dauIos}}</td>
                    <td>{{x.dauBoy}}</td>
                    <td>{{x.dauGirl}}</td>
                    <td>{{x.keepTotal}}</td>
                    <td>{{x.keepAndroid}}</td>
                    <td>{{x.keepIos}}</td>
                    <td>{{x.keepBoy}}</td>
                    <td>{{x.keepGirl}}</td>
                    <td>{{x.createTime |  date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>