<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">图片审核</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">图片审核</h3>
        </div><!-- /page-title -->


        <ul class="page-stats">
            <li>共{{pages}}页</li>
            <li style="width:300px;height:70px;">
                <div class="dropdown form-group">
                    <label>Start Date</label>
                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#"
                       href="javascript:;">
                        <div class="input-group date">
                            <input type="text" class="form-control" data-ng-model="dateRangeStart">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeStart"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                        data-on-set-time="startDateOnSetTime(newDate, oldDate)"
                                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                    </ul>
                </div>
            </li>
            <li style="width:300px;height:70px;">
                <div class="dropdown form-group">
                    <label>End Date</label>
                    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#"
                       href="javascript:;">
                        <div class="input-group date">
                            <input type="text" class="form-control" data-ng-model="dateRangeEnd">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRangeEnd"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                        data-on-set-time="endDateOnSetTime(newDate, oldDate)"
                                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                    </ul>
                </div>
            </li>
            <li style="line-height:70px;">
                性别
                <select class="form-control input-sm" id="gender-select" ng-model="param.gender"
                        style="display:inline-block; width:100px;">
                    <option value="">全部</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </li>
            <li style="line-height:70px;">
                图片类型
                <select class="form-control input-sm" id="type-select" ng-model="param.type"
                        style="display:inline-block; width:100px;">
                    <option value="">全部</option>
                    <option value="1">头像</option>
                    <option value="2">背景</option>
                </select>
            </li>
            <li>
                <a style="line-height:70px;" class="btn btn-primary" ng-click="next()">Next <i
                        class="fa fa-chevron-right"></i></a>
            </li>
        </ul><!-- /page-stats -->
    </div><!-- /main-header -->

    <div ng-repeat="img in imgList">
        <div style="display: inline-block;width: 12%;float: left;overflow: hidden;position:relative;">
            <img ng-src="{{img.headImg}}" alt="" id="{{img.id + 'image'}}"/>
            <div style="position:absolute;z-index: 1;left: 10%;bottom:50%;color: #fff;">
                <button class="btn btn-xs btn-danger" ng-click="offUserAndDelete(img.userId,img.id)"><i
                        class="fa fa-check"></i> 删除并禁用账号6小时
                </button>
                <input id={{img.id}} type="checkbox" ng-model="x" ng-checked="master"
                       ng-click="chk(img.id,x)" style="width:100%;height:200px;opacity:1;margin:0px;opacity:0;">
                <div class="h3">{{img.userName}}</div>
                <span>{{img.gender==1?"男":"女"}}  {{img.birthday}} {{img.type==1?"头像":"背景图片"}}</span>
                <div>{{img.createTime}}</div>
            </div>
        </div><!-- /gallery-item -->
    </div><!-- /gallery-container -->
</div>

