<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">匹配数据统计</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">匹配数据统计</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->
    <div class="padding-md">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                实时数据
                <ul class="tool-bar">
                    <li ng-click="flush()"><a href="javascript:;" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                        <i class="fa fa-refresh"></i></a></li>
                </ul>
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>匹配的总次数</th>
                    <th>匹配的成功次数</th>
                    <th>匹配无人的次数</th>
                    <th>每日男性匹配总次数</th>
                    <th>每日女性匹配总次数</th>
                    <th>每日女女匹配总次数</th>
                    <th>每日男女匹配总次数</th>
                    <th>每日男男匹配总次数</th>
                    <th>每日男性匹配成功次数</th>
                    <th>每日女性匹配成功次数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nowData.matchTotal}}</td>
                    <td>{{nowData.matchSuccess}}</td>
                    <td>{{nowData.matchFail}}</td>
                    <td>{{nowData.matchBoyCount}}</td>
                    <td>{{nowData.matchGirlCount}}</td>
                    <td>{{nowData.matchGirlGirlCount}}</td>
                    <td>{{nowData.matchBoyGirlCount}}</td>
                    <td>{{nowData.matchBoyBoyCount}}</td>
                    <td>{{nowData.matchBoySuccessCount}}</td>
                    <td>{{nowData.matchGirlSuccessCount}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>每日付费匹配总人数</th>
                    <th>每日付费匹配总次数</th>
                    <th>每日男性付费总人数</th>
                    <th>每日男性付费总次数</th>
                    <th>每日女性付费总人数</th>
                    <th>每日女性付费总次数</th>
                    <th>每日android付费总人数</th>
                    <th>每日android付费总次数</th>
                    <th>每日ios付费总人数</th>
                    <th>每日ios付费总次数</th>
                    <th>每日男性付费匹配无人次数</th>
                    <th>每日男性付费匹配成功次数</th>
                    <th>每日女性付费匹配无人次数</th>
                    <th>每日女性付费匹配成功次数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nowData.matchPayPeople}}</td>
                    <td>{{nowData.matchPayCount}}</td>
                    <td>{{nowData.matchBoyPayPeople}}</td>
                    <td>{{nowData.matchBoyPayCount}}</td>
                    <td>{{nowData.matchGirlPayPeople}}</td>
                    <td>{{nowData.matchGirlPayCount}}</td>
                    <td>{{nowData.matchAndroidPayPeople}}</td>
                    <td>{{nowData.matchAndroidPayCount}}</td>
                    <td>{{nowData.matchIosPayPeople}}</td>
                    <td>{{nowData.matchIosPayCount}}</td>
                    <td>{{nowData.matchBoyPayFailCount}}</td>
                    <td>{{nowData.matchBoyPaySuccessCount}}</td>
                    <td>{{nowData.matchGirlPayFailCount}}</td>
                    <td>{{nowData.matchGirlPaySuccessCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                详细
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="responsiveTable">
                <thead>
                <tr>
                    <th>匹配的总次数</th>
                    <th>匹配的成功次数</th>
                    <th>匹配无人的次数</th>
                    <th>每日男性匹配总次数</th>
                    <th>每日女性匹配总次数</th>
                    <th>每日女女匹配总次数</th>
                    <th>每日男女匹配总次数</th>
                    <th>每日男男匹配总次数</th>
                    <th>每日男性匹配成功次数</th>
                    <th>每日女性匹配成功次数</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.matchTotal}}</td>
                    <td>{{x.matchSuccess}}</td>
                    <td>{{x.matchFail}}</td>
                    <td>{{x.matchBoyCount}}</td>
                    <td>{{x.matchGirlCount}}</td>
                    <td>{{x.matchGirlGirlCount}}</td>
                    <td>{{x.matchBoyGirlCount}}</td>
                    <td>{{x.matchBoyBoyCount}}</td>
                    <td>{{x.matchBoySuccessCount}}</td>
                    <td>{{x.matchGirlSuccessCount}}</td>
                    <td>{{x.createTime |  date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>每日付费匹配总人数</th>
                    <th>每日付费匹配总次数</th>
                    <th>每日男性付费总人数</th>
                    <th>每日男性付费总次数</th>
                    <th>每日女性付费总人数</th>
                    <th>每日女性付费总次数</th>
                    <th>每日android付费总人数</th>
                    <th>每日android付费总次数</th>
                    <th>每日ios付费总人数</th>
                    <th>每日ios付费总次数</th>
                    <th>每日男性付费匹配无人次数</th>
                    <th>每日男性付费匹配成功次数</th>
                    <th>每日女性付费匹配无人次数</th>
                    <th>每日女性付费匹配成功次数</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.matchPayPeople}}</td>
                    <td>{{x.matchPayCount}}</td>
                    <td>{{x.matchBoyPayPeople}}</td>
                    <td>{{x.matchBoyPayCount}}</td>
                    <td>{{x.matchGirlPayPeople}}</td>
                    <td>{{x.matchGirlPayCount}}</td>
                    <td>{{x.matchAndroidPayPeople}}</td>
                    <td>{{x.matchAndroidPayCount}}</td>
                    <td>{{x.matchIosPayPeople}}</td>
                    <td>{{x.matchIosPayCount}}</td>
                    <td>{{x.matchBoyPayFailCount}}</td>
                    <td>{{x.matchBoyPaySuccessCount}}</td>
                    <td>{{x.matchGirlPayFailCount}}</td>
                    <td>{{x.matchGirlPaySuccessCount}}</td>
                    <td>{{x.createTime |  date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
