<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">购买统计</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">购买统计</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->

    <div class="padding-md">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                实时数据
                <ul class="tool-bar">
                    <li ng-click="flush()"><a href="javascript:;" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                        <i class="fa fa-refresh"></i></a></li>
                </ul>
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>购买金币数</th>
                    <th>购买金额</th>
                    <td>购买次数</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nowData.goldNum}}</td>
                    <td>{{nowData.money}}</td>
                    <td>{{nowData.count}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-danger">
                    <h2 class="m-top-none" id="userCount">{{goldNum}}</h2>
                    <h5>购买金币数</h5>
                    <div class="stat-icon">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-info">
                    <h2 class="m-top-none">{{money}}</h2>
                    <h5>购买金额</h5>
                    <div class="stat-icon">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-warning">
                    <h2 class="m-top-none" id="orderCount">{{count}}</h2>
                    <h5>购买次数</h5>
                    <div class="stat-icon">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>


        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <!--<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i>趋势图</span>-->
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i
                                        class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input
                                        type="text" readonly style="width: 200px" name="reservation" id="payDateRange"
                                        class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-body" id="trafficWidget">
                <div id="payChar" style="height:400px;"></div>
            </div>
        </div><!-- /panel -->


        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                详细
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="responsiveTable">
                <thead>
                <tr>
                    <th>购买金币数</th>
                    <th>购买金额</th>
                    <td>购买次数</td>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.goldNum}}</td>
                    <td>{{x.money}}</td>
                    <td>{{x.count}}</td>
                    <td>{{x.createTime | date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                详细
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="pageTable">
                <thead>
                <tr>
                    <th>支付人昵称</th>
                    <th>支付人生日</th>
                    <td>支付人性别</td>
                    <th>购买的商品名称</th>
                    <td>购买的金币数量</td>
                    <th>购买金额</th>
                    <th>支付结果</th>
                    <td>支付平台</td>
                    <td>交易创建时间</td>
                    <td>交易验证时间</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in page">
                    <td>{{x.userName}}</td>
                    <td>{{x.birthday | date:'yyyy-MM-dd'}}</td>
                    <td>{{x.gender==1?"男":"女"}}</td>
                    <td>{{x.commodityName}}</td>
                    <td>{{x.goldNum}}</td>
                    <td>{{x.money}}</td>
                    <td>{{x.verifyResult==1?"成功":"失败"}}</td>
                    <td>{{x.payPlatform==1?"google 支付":"ios 内购"}}</td>
                    <td>{{x.createTime | date:'yyyy-MM-dd'}}</td>
                    <td>{{x.verifyTime | date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
            <div class="panel-footer clearfix">
                <ul class="pagination pagination-xs m-top-none pull-right">
                    <li ng-class="{disabled: pagination.isFirst(pagination.currentPage)}"
                        ng-click="pagination.setCurrent(pagination.startPage)">
                        <a href>First</a>
                    </li>
                    <li ng-class="{disabled: !pagination.inRange(pagination.currentPage - 1)}"
                        ng-click="pagination.setCurrent(pagination.currentPage - 1)">
                        <a href>Prev</a>
                    </li>
                    <li ng-show="pagination.inRange(pagination.pages[0] - 1)"
                        ng-click="pagination.setCurrent(pagination.currentPage - pagination.maxNumbers)">
                        <a href>&hellip;</a>
                    </li>
                    <li ng-repeat="page in pagination.pages track by $index" ng-class="{active: pagination.isCurrent(page)}"
                        ng-click="pagination.setCurrent(page)">
                        <a href ng-bind="page"></a>
                    </li>
                    <li ng-show="pagination.inRange(pagination.pages[pagination.pages.length - 1] + 1)"
                        ng-click="pagination.setCurrent(pagination.currentPage + pagination.maxNumbers)">
                        <a href>&hellip;</a>
                    </li>
                    <li ng-class="{disabled: !pagination.inRange(pagination.currentPage + 1)}"
                        ng-click="pagination.setCurrent(pagination.currentPage + 1)">
                        <a href>Next</a>
                    </li>
                    <li ng-class="{disabled: pagination.isLast(pagination.currentPage)}"
                        ng-click="pagination.setCurrent(pagination.endPage)">
                        <a href>Last</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>