<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">推送消息</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="padding-md">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>推送标题：</label>
                                <input class="form-control input-sm" type="text" ng-model="push.title"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>推送内容(英语)：</label>
                                <input class="form-control input-sm" type="text" ng-model="english"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>推送内容(中文)：</label>
                                <input class="form-control input-sm" type="text" ng-model="chinese"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>推送内容(葡萄牙语)：</label>
                                <input class="form-control input-sm" type="text" ng-model="portugal"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label for="dtp_input1">推送时间</label>
                                <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                                    <input class="form-control input-sm" size="16" ng-model="push.pushTime" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value=""/><br/>
                            </div>
                            <div class="form-group">
                                <label>推送类型：</label>
                                <select class="form-control input-sm" ng-model="push.pushWay">
                                    <option value="1">赠送金币</option>
                                    <option value="2">普通消息</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>赠送金币数：</label>
                                <input class="form-control input-sm" type="text" ng-model="push.gold"/>
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label>推送人群：</label>
                                <select class="form-control input-sm" ng-model="push.type">
                                    <option value="1">全部</option>
                                    <option value="2">男</option>
                                    <option value="3">女</option>
                                    <option value="4">text</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm" ng-click="reset()">提交</button>
                        </form>
                    </div>
                </div><!-- /panel -->
            </div><!-- /.col -->
        </div>
        <a class="btn btn-primary" ng-click="show()">
            查看推送历史
        </a>
        <div class="panel panel-default table-responsive" ng-show="table">
            <div class="panel-heading">
                推送历史
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="responsiveTable">
                <thead>
                <tr>
                    <th>应用appId</th>
                    <th>推送的标题</th>
                    <th>推送的内容信息</th>
                    <th>推送的时间</th>
                    <th>任务是否执行</th>
                    <th>推送的类型 </th>
                    <th>推送失败设备</th>
                    <td>推送成功设备</td>
                    <td>创建时间</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in list">
                    <td>{{x.appId}}</td>
                    <td>{{x.title}}</td>
                    <td>{{x.content}}</td>
                    <td>{{x.pushTime}}</td>
                    <td>{{x.isPush==1?"已执行":"未开始"}}</td>
                    <td>
                        <div ng-if="x.type==1">
                           全部
                        </div>
                        <div ng-if="x.type==2">
                            男性
                        </div>
                        <div ng-if="x.type==3">
                            女性
                        </div>
                        <div ng-if="x.type==4">
                            text
                        </div>
                    </td>
                    <td>{{x.fail}}</td>
                    <td>{{x.success}}</td>
                    <td>{{x.createTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>