<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">举报处理</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">举报处理</h3>
        </div><!-- /page-title -->
        <ul class="page-stats">
            <li>
                <span>全选</span>
                <label class="label-checkbox inline">
                    <input type="checkbox" ng-model="master" ng-click="all(master,allArray)">
                    <span class="custom-checkbox"></span>
                </label>
            </li>
            <li>
                <a href="#" class="btn btn-xs btn-danger" ng-click="deleteBackground()"><i class="fa fa-trash-o"></i>删除背景</a>
            </li>
            <li>
                <a href="#" class="btn btn-xs btn-danger" ng-click="deleteHeadImg()"><i class="fa fa-trash-o"></i> 删除头像</a>
            </li>
            <li>
                <a href="#" class="btn btn-xs btn-danger" ng-click="deleteAll()"> <i class="fa fa-trash-o"></i> 删除头像和背景</a>
            </li>
            <li>
                <a href="#" class="btn btn-xs btn-success" ng-click="pass()"><i class="fa fa-check"></i> 忽略举报</a>
            </li>
        </ul><!-- /page-stats -->
    </div><!-- /main-header -->

       <!-- <div class="row">
            <div class="div-title">

            </div>
            <div class="col-sm-6 col-md-3" ng-repeat="report in list">
                <div class="thumbnail">
                    <img ng-src="{{report.headImg}}" class="carousel-inner img-responsive img-rounded"
                         style="width:240px;height:160px;">
                    <img ng-src="{{report.background}}" class="carousel-inner img-responsive img-circle"
                         style="width:100px;height:100px;">
                    <div class="caption">
                        <div>
                            被举报人昵称：{{report.reportedUserName}}
                            被举报人性别：{{report.gender==1?"男":"女"}}
                            被举报人生日：{{report.birthday}}
                            举报时间：{{report.createTime}}
                            举报人：{{report.reportUserName}}
                        </div>
                        <p>
                            <label class="label-checkbox inline">
                                <input id={{report.id}} type="checkbox" ng-model="x" ng-checked="master"
                                       ng-click="chk(report.id,x)">
                                <span class="custom-checkbox"></span>
                            </label>
                            <a href="#" class="btn btn-xs btn-danger" ng-click="deleteBackground(report.id)"><i
                                    class="fa fa-trash-o"></i> 删除背景</a>
                            <a href="#" class="btn btn-xs btn-danger" ng-click="deleteHeadImg(report.id)"> <i
                                    class="fa fa-trash-o"></i>删除头像</a>
                            <a href="#" class="btn btn-xs btn-danger" ng-click="deleteAll(report.id)"><i
                                    class="fa fa-trash-o"></i>全部删除</a>
                            <a href="#" class="btn btn-xs btn-success" ng-click="pass(report.id)"><i
                                    class="fa fa-check"></i> 忽略举报</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="gallery-container" ng-repeat="report in list">
            <div class="gallery-item">
                <a class="image-wrapper gallery-zoom" href="javascript:;">
                    <img ng-src="{{report.background}}" alt=""/>
                    <div style="top:0;left:0;position:absolute;width:30%;height:100px;"><img ng-src="{{report.headImg}}"  alt="" style="width:100px;height:100px;border-radius: 50em;"/></div>
                    <div class="image-overlay">
                        <div class="image-info">
                            <div class="h3">{{report.reportedUserName}}</div>
                            <span>{{report.gender==1?"男":"女"}}  {{report.birthday}}
                                <button type="button" class="btn btn-xs btn-danger" ng-click="deleteBackground(report.id)"><i class="fa fa-trash-o"></i>删除背景</button>
                                <button  class="btn btn-xs btn-danger" ng-click="deleteHeadImg(report.id)"> <i class="fa fa-trash-o"></i>删除头像</button>
                                <button  class="btn btn-xs btn-danger" ng-click="deleteAll(report.id)"><i class="fa fa-trash-o"></i>全部删除</button>
                                <button  class="btn btn-xs btn-danger" ng-click="offUserAndDelete(report.id)"><i class="fa fa-check"></i> 删除并禁用账号6小时</button>
                                <button  class="btn btn-xs btn-success" ng-click="pass(report.id)"><i class="fa fa-check"></i> 忽略举报</button>
                            </span>
                            <div class="image-time"> 在 {{report.createTime}} 被 {{report.reportUserName}} 举报</div>
                            <div class="image-like">
                                <label class="label-checkbox inline">
                                    <span>选择</span>
                                    <input id={{report.id}} type="checkbox" ng-model="x" ng-checked="master"
                                           ng-click="chk(report.id,x)">
                                    <span class="custom-checkbox"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </a><!-- /image-wrapper -->
            </div><!-- /gallery-item -->
        </div><!-- /gallery-container -->
    <div style="width: 100%;height:100px;float:left">
        <ul class="pagination">
            <li ng-class="{disabled: pagination.isFirst(pagination.currentPage)}"
                ng-click="pagination.setCurrent(pagination.startPage)">
                <a href>First</a>
            </li>
            <li ng-class="{disabled: !pagination.inRange(pagination.currentPage - 1)}"
                ng-click="pagination.setCurrent(pagination.currentPage - 1)">
                <a href>Prev</a>
            </li>
            <li ng-show="pagination.inRange(pagination.pages[0] - 1)"
                ng-click="pagination.setCurrent(pagination.currentPage - pagination.maxNumbers)">
                <a href>&hellip;</a>
            </li>
            <li ng-repeat="page in pagination.pages track by $index" ng-class="{active: pagination.isCurrent(page)}"
                ng-click="pagination.setCurrent(page)">
                <a href ng-bind="page"></a>
            </li>
            <li ng-show="pagination.inRange(pagination.pages[pagination.pages.length - 1] + 1)"
                ng-click="pagination.setCurrent(pagination.currentPage + pagination.maxNumbers)">
                <a href>&hellip;</a>
            </li>
            <li ng-class="{disabled: !pagination.inRange(pagination.currentPage + 1)}"
                ng-click="pagination.setCurrent(pagination.currentPage + 1)">
                <a href>Next</a>
            </li>
            <li ng-class="{disabled: pagination.isLast(pagination.currentPage)}"
                ng-click="pagination.setCurrent(pagination.endPage)">
                <a href>Last</a>
            </li>
        </ul>
    </div>
</div>