<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i>Home</li>
            <li class="active">视频数据统计</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="page-title">
            <h3 class="no-margin">视频数据统计</h3>
        </div><!-- /page-title -->
    </div><!-- /main-header -->
    <div class="padding-md">
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                实时数据
                <ul class="tool-bar">
                    <li ng-click="flush()"><a href="javascript:;" class="refresh-widget" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh">
                        <i class="fa fa-refresh"></i></a></li>
                </ul>
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>视频通话总时间</th>
                    <th>视频通话总次数</th>
                    <th>匹配视频通话时间</th>
                    <th>匹配视频通话次数</th>
                    <th>好友通话时间</th>
                    <th>好友通话总次数</th>
                    <th>好友通话人次数</th>
                    <th>三分钟平均视频时间</th>
                    <th>视频到达三分钟的时间</th>
                    <th>女女视频次数</th>
                    <td>男女视频次数</td>
                    <td>男男视频次数</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nowData.videoTime}}</td>
                    <td>{{nowData.videoPeople}}</td>
                    <td>{{nowData.matchVideoTime}}</td>
                    <td>{{nowData.matchVideoPeople}}</td>
                    <td>{{nowData.friendVideoTime}}</td>
                    <td>{{nowData.friendVideoPeople}}</td>
                    <td>{{nowData.friendVideoCount}}</td>
                    <td>{{nowData.threeChatAvgTime}}</td>
                    <td>{{nowData.threeChatCount}}</td>
                    <td>{{nowData.girlGirlVideoCount}}</td>
                    <td>{{nowData.boyGirlVideoCount}}</td>
                    <td>{{nowData.boyBoyVideoCount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-danger">
                    <h2 class="m-top-none" id="userCount">{{videoTime}}</h2>
                    <h5>昨日视频通话总时间</h5>
                    <div class="stat-icon">
                        <i class="fa fa-video-camera fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-info">
                    <h2 class="m-top-none">{{videoPeople}}</h2>
                    <h5>昨日视频通话总次数</h5>
                    <div class="stat-icon">
                        <i class="fa fa-video-camera fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-warning">
                    <h2 class="m-top-none" id="orderCount">{{matchVideoTime}}</h2>
                    <h5>昨日匹配的视频通话时间</h5>
                    <div class="stat-icon">
                        <i class="fa fa-video-camera fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6 col-md-3">
                <div class="panel-stat3 bg-success">
                    <h2 class="m-top-none" id="visitorCount">{{matchVideoPeople}}</h2>
                    <h5>昨日匹配的视频通话次数</h5>
                    <div class="stat-icon">
                        <i class="fa fa-video-camera fa-3x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>

        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <!--<span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i>趋势图</span>-->
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i
                                        class="glyphicon glyphicon-calendar fa fa-calendar"></i></span><input
                                        type="text" readonly style="width: 200px" name="reservation" id="videoDateRange"
                                        class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-body" id="trafficWidget">
                <div id="videoChar" style="height:400px;"></div>
            </div><!-- /panel -->
        </div>


        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                详细
                <!--<span class="label label-info pull-right">790 Items</span>-->
            </div>
            <table class="table table-striped" id="responsiveTable">
                <thead>
                <tr>
                    <th>视频通话总时间</th>
                    <th>视频通话总次数</th>
                    <th>匹配视频通话时间</th>
                    <th>匹配视频通话次数</th>
                    <th>好友通话时间</th>
                    <th>好友通话总次数</th>
                    <th>好友通话人次数</th>
                    <th>三分钟平均视频时间</th>
                    <th>视频到达三分钟的时间</th>
                    <th>女女视频次数</th>
                    <td>男女视频次数</td>
                    <td>男男视频次数</td>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.videoTime}}</td>
                    <td>{{x.videoPeople}}</td>
                    <td>{{x.matchVideoTime}}</td>
                    <td>{{x.matchVideoPeople}}</td>
                    <td>{{x.friendVideoTime}}</td>
                    <td>{{x.friendVideoPeople}}</td>
                    <td>{{x.friendVideoCount}}</td>
                    <td>{{x.threeChatAvgTime}}</td>
                    <td>{{x.threeChatCount}}</td>
                    <td>{{x.girlGirlVideoCount}}</td>
                    <td>{{x.boyGirlVideoCount}}</td>
                    <td>{{x.boyBoyVideoCount}}</td>
                    <td>{{x.createTime | date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
